@import url("./BubbleUI-v3.0.0.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
    --accent-color : #8155FF;
    --secondary-color : #F1EAFF;
    --secondary-text-color : #898989;
}

.accent-hover:hover{
    color: var(--accent-color);
}

:root[data-bubble=material] input[type=color]{
    border: none;
    padding: 0;
}